.container{
    width: 80%;
    margin:0 auto;
}
.box{
    margin: 20px;
    padding: 15px;
    border:2px solid#ffb9b9;
}
.box1{
    display:block;
}
.box2{
    display:inline-block;
    width: 40%;
}
.box3{
    width:40%;
    float:left;
    background-color: #f0f0f0;
}