body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height:100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: azure;
    padding: 20px;
    text-align: center;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: aliceblue;
}
